# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# solarized color theme for OS X ls
export CLICOLOR=1
export LSCOLORS=gxfxbEaEBxxEhEhBaDaCaD

# zsh history settings
# Allow 32³ entries
export HISTSIZE=32768
# Save history after logout
export SAVEHIST=32768
# Do not add these commands to history
export HISTORY_IGNORE="(ls|cd|cd -|cd ..|pwd|exit|date)"
# Append into history file
setopt INC_APPEND_HISTORY
# Save only one command if two are the same and consistent
setopt HIST_IGNORE_DUPS
# If command starts with space do not add to history
setopt HIST_IGNORE_SPACE
# Add timestamp for each entry
setopt EXTENDED_HISTORY

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# Prevent zsh pure from doing automatic git pull
export PURE_GIT_PULL=0

export EDITOR=hx

export PSQLRC=~/.config/psql/psqlrc
