[submodule "lib/dircolors-solarized"]
	path = lib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule "link/.vim/bundle/Vundle.vim"]
	path = link/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
	branch = master
